/* initial style */
*{
  margin: 0;
  padding: 0;
}
body{
  background-color: #EFEFEF;
  color: black;
}
hr{ 
  border: none;
  border-top: 1px solid #DEDEDE;
}
a{
  text-decoration: none;
  color: white;
}

/* clearfix */
.clearfix::after{
  content: "";
  display: block;
  clear: both;
}
.clearfix > li{
  float: left;
}
.clearfix > nav{
  float: right;
}

/* topNavBar style */
.topNavBar{
  padding: 20px 0px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  /* border: 1px solid red; */
}
.topNavBarInner{
  padding: 0px 15px;
}

/* topNavBar logo style */
.topNavBar .logo > .rs ,
.topNavBar .logo > .card{
  font-size: 30px;
  font-weight: 800;
  font-style: normal;
  font-family: "Arial Black"; 
  display: inline-block;
}
.topNavBar .logo> .rs{
  color: #E8676B;
}
.topNavBar .logo> .card{
  color: #9A9DA2;
  margin-left: 3px;
}

/* topNavBar nav style */
.topNavBar nav > ul{
  list-style: none;
  /* border: 1px solid white;  */
}
.topNavBar nav > ul > li{
  margin: 0px 17px;
  border-top: 3px solid transparent;
  border-bottom: 3px solid transparent;
}
.topNavBar nav > ul > li:hover{
  border-bottom: 3px solid #E8676B;
}
.topNavBar nav > ul > li > a{
  display: block;
  font-size: 13px;
  font-weight: 700;
  color: #CCCED1;
  padding: 12px 0px;
  /* border: 1px solid blue; */
}

/* banner style section */
div.banner{
  background-image: url("./img/banner.jpg");
  background-position: center center;
  background-size: cover;
  /* border: 1px solid red; */
  height: 520px;
}
div.banner > .mask{
  background-color: rgba(0,0,0,0.7);
  height: 520px;
}

/* userCard style */
.userCard{
  /* border: 1px solid red; */
  background-color: #FFFFFF;
  max-width: 942px;
  margin: 0px auto;
  box-shadow: 0px 2px 5px 1px rgb(189, 186, 186); 
}
body>main{
  margin-top: -346px; 
}
.userCard > .pictureText{
  padding: 58px 50px 40px 50px;
}
.userCard > .pictureText > .picture > img{
  width: 300px;
  height: 350px;
  /* border: 1px solid blueviolet; */
}
.clearfix > .picture ,
.clearfix > .text{
  float: left;
}

/* text "hello" style */
.userCard > .pictureText > .text{
  margin-left: 60px;
  width: 480px;
}
.userCard > .pictureText > .text  .welcome{
  display: inline-block;
  background-color: #E8676B;
  padding: 5px 12px;
  color: #FFFFFF;
  font-size: 14px;
  font-weight: 700;
  position: relative;
  margin-bottom: 28px;
}
.userCard > .pictureText > .text .triangle{
  position: absolute;
  top: 100%;
  left: 5px;
  border: 10px solid transparent;
  width: 0px;
  border-top-width: 0px;
  border-left-color: #E8676B;
}

/* text style */
.userCard > .pictureText > .text h1{
  margin-bottom: 8px; 
}
.userCard > .pictureText > .text p{
  font-size: 18px;
  font-weight: 400;
  line-height: 1.1;
}
.userCard > .pictureText > .text hr{
  margin-top: 25px;
  padding-top: 25px;
}
.userCard > .pictureText > .text dl{
  line-height: 30px;
}
.userCard > .pictureText > .text dl dt,
.userCard > .pictureText > .text dl dd{
  float: left;
  font-size: 14px;
  display: inline-block;
}
.userCard > .pictureText > .text dl dt{
  width: 30%;
  font-weight: 700;
}
.userCard > .pictureText > .text dl dd{
  width: 70%;
  color: #9da0a7;
}

/* media style */
.userCard > .media{
  background-color: #E8676B;
  text-align: center; 
   /* 内容居中 */
}
.userCard > .media > a{
  display: inline-block;
  border-radius: 50%;
  line-height: 20px;
  padding: 13px 0px; 
  width: 46px;
  margin: 20px 15px;
  /* border: 1px solid blue; */ 
  transition: background-color 0.5s;
}
.userCard > .media > a:hover{
  background-color: #D05C60;
}
.userCard > .media > a > svg{
  color: white;
  /* fill: white; */
  font-size: 20px;
  /* height: 20px;  */
  /* width: 20px; */
  vertical-align: top;
  /* border: 1px solid black; */
}

/* button style */
main > .downloadWarpper {
  text-align: center;
}
main > .downloadWarpper > .download{
  display: inline-block;
  color: rgb(61, 68, 81);
  font-size: 13px;
  font-weight: bold;
  padding: 21px 55px; 
  margin: 35px;
  border: 1px solid rgba(0,0,0,0.3);
  border-radius: 2px;
    
}
main > .downloadWarpper > .download:hover{
  box-shadow: 0px 3px 13px 2px rgb(197, 194, 194);
}

/* self-introduction style */
main > p.selfIntroduction{
  max-width: 942px;
  margin: 0px auto;
  text-align: center;
  line-height:1.8;
  font-family: "楷体";
  font-size: 22px;
}

/* skills and production style */
section.skills,
section.productions{
  max-width: 942px;
  margin: 0px auto;
  text-align: center;
  padding: 30px 0px;
  border: 1px solid red;  
}
section.skills > h2,
section.productions > h2{
  font-size: 28px;
  color: #3D4451;
  padding: 20px 0px 30px 0px;
}
section.skills > div{
  background-color: white;
  box-shadow: 0px 2px 6px 1px rgb(187, 187, 187);
}
section.skills  ol{
  padding: 40px 35px;
}
section.skills  ol > li{
  display: inline-block;
  text-align: left;
  font-size: 13px;
  color: rgb(56, 56, 58);
  width: 45%;
  position: relative;
  margin: 20px 15px;
}
section.skills  ol > li::before,
section.skills  ol > li::after{
  content: "";
  position: absolute;
  border: none;
  height: 5px;
  border-radius: 3px;
  top: 120%;
  left: 0px;
}
section.skills  ol > li::before{
  background-color: #FAE1E1;
  /* border-top: 5px solid #FAE1E1;   */
  width: 100%;
}
section.skills  ol > li::after{
  background-color: #E8676B;
  /* border-top: 5px solid #E8676B; */
  width: 60%;
}
section ol{
  list-style: none;
}

/* productions style */
.productions > nav{
  text-align: center;  
}
.productions > nav > ol{
  display: inline-block;
  vertical-align: top;
}
.productions > nav > ol > li{
  padding: 0px 20px;
  cursor: pointer;
}
/* productions style */
.productions > nav > .bar{
  /* border: 1px solid red; */
  margin: 10px auto;
  background-color: #FAE1E1;
  height: 5px;
  width: 280px;
  border-radius: 3px;
}
.productions > nav > .bar > .bar-inner{
  height: 5px;
  background-color: #E8676B;
  border-radius: 3px;
  transition: all 0.3s;
}
.productions > nav > .bar > .bar-inner-1{
  width: 65px;
  margin-left: 0px; 
}
.productions > nav > .bar > .bar-inner-2{
  width: 65px;
  margin-left: 74px; 
}
.productions > nav > .bar > .bar-inner-3{
  width: 135px;
  margin-left: 145px; 
}
.productions > .jobs{
  border: 1px solid black;
  margin: 20px 10px;
}
.productions > .jobs > .big,
.productions > .jobs > .small{
  margin: 10px;
}
.productions > .jobs > .big{
  background-image: url("./img/1.jpg");
  width: 500px;
  height: 500px;
}
.productions > .jobs > .small{
  width: 240px;
  height: 240px;
}
.productions > .jobs > .small-1{
  background-image: url("./img/2.jpg");
}
.productions > .jobs > .small-2{
  background-image: url("./img/3.jpg");
}